/*
* @Author: Gustav
* @Date:   2018-10-07 10:49
* @Last Modified by:   Gustav
* @Last Modified time: 2018-10-18 14:35
*/



/*@media print body {
	margin-top: 21.2mm;
	margin-bottom: 21.8mm;
	margin-left: 18.6mm;
	margin-right: 18.6mm;
}*/

@media print {

	@page {
		/*margin-top: 0mm;*/
		margin-top: 21.2mm;
		margin-bottom: 21.8mm;
		margin-left: 18.6mm;
		margin-right: 18.6mm;
		padding: 0;
		size: A4;
		padding: 0;
	}

	body {
		font-size: 1.8mm;
		margin: 0;
		padding: 0;
	}

	.column {
		float: left;
		width: 50%;
		/*outline: 1px solid;*/
		margin: 0;
		padding: 0;
	}

	.label_container {

		float: left;
		width: 50%;
		height: 50.77mm;
		margin: 0;
		padding:0;
		outline: 2px solid;
	}

	.top_part {

		display: grid;
		grid-gap: 0;
		/*outline:1px solid;*/
		grid-template-columns: 35% 65%;
		height: 60%
	}

	.bottom_part {
		display: grid;
		grid-gap: 0;
		height: 40%;
	}

	.cell1 {
	/*	display: flex;
	  	align-items: center;*/

	/*	border-right: 1px solid;
		border-bottom: 1px solid;*/
		/*line-height: 100%;*/
		padding-left: 1mm;
		padding-right: 1mm;
		height: 100%;

		outline: 1px solid;

		/*display: flex;*/
	}

	.cell2 {
		display: flex;
	  	align-items: center;
	  	height: 100%;
	  	justify-content:center;

	  	padding-left: 1mm;
		padding-right: 1mm;

		outline: 1px solid;
	}

	.spaced_kanji {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	.cell3 {
		outline: 1px solid;
		padding-top: 1mm;
		/*padding-bottom: 1mm;*/
		padding-left: 1mm;
	}

	.minigrid {
		outline: 1px solid;
		display: table-cell;
		/*width: 100%;*/
		margin: 0;
		padding: 0;
		/*padding-top: 1mm;*/
	}

	.mini_left {
		display: inline-block;
	   /*vertical-align: middle;*/
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		/*vertical-align: center;*/
		float: left;
		margin:0;
		padding: 0;
		padding-left: 2mm;
		padding-right: 2mm;
		/*padding-top: 1mm;*/
	}

	.mini_right {
		float: top;
		margin:0;
	}

	.mini_info {
		padding-left: 50%;
	}

	.mini_left_part
	{
		float:left;
		/*height: 100%;*/
	}

	.mini_right_part {
		float: right;
		padding-top: 1mm;
		padding-right: 2mm;
	}

	#grams, #best_before {
		/*font-size: 3.0mm;*/
		font-size: 2.8mm;
	}

	.caddy {
		display: none;
	}
}

@media screen
{
	body {
		margin-top: 21.2mm;
		/*margin-top: 21.2mm;*/
		margin-bottom: 21.8mm;
		margin-left: 18.6mm;
		margin-right: 18.6mm;

		font-size: 2.2mm;
	}

	.caddy {
		position: absolute;
		top: 4px;
		left: 4px;
		font-size: 12px;
		visibility: hidden;
	}
}

input {
	text-align: center;
}

.form {
	font-size: 12px;
	padding-bottom: 24px;
	line-height: 32px;
	text-shadow: 2px 2px 5px #cccccc;
	box-shadow: 10px 10px;
	background-color: #ffff00;
	margin: 0 0 48px 0;
	padding: 12 12 12 12;
	width: 280px;
}

.column {
	float: left;
	width: 50%;
	/*outline: 1px solid;*/
	margin: 0;
	padding: 0;
}

.label_container {

	float: left;
	width: 50%;
	height: 50.77mm;
	margin: 0;
	padding:0;
	outline: 2px solid;
}

.top_part {

	display: grid;
	grid-gap: 0;
	/*outline:1px solid;*/
	grid-template-columns: 35% 65%;
	height: 60%
}

.bottom_part {
	display: grid;
	grid-gap: 0;
	height: 40%;
}

.cell1 {
/*	display: flex;
  	align-items: center;*/

/*	border-right: 1px solid;
	border-bottom: 1px solid;*/
	/*line-height: 100%;*/
	padding-left: 1mm;
	padding-right: 1mm;
	height: 100%;

	outline: 1px solid;

	/*display: flex;*/
}

.cell2 {
	display: flex;
  	align-items: center;
  	height: 100%;
  	justify-content:center;

  	padding-left: 1mm;
	padding-right: 1mm;

	outline: 1px solid;
}

.spaced_kanji {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.cell3 {
	outline: 1px solid;
	padding-top: 1mm;
	/*padding-bottom: 1mm;*/
	padding-left: 1mm;
}

.minigrid {
	outline: 1px solid;
	display: table-cell;
	/*width: 100%;*/
	margin: 0;
	padding: 0;
	/*padding-top: 1mm;*/
}

.mini_left {
	display: inline-block;
   /*vertical-align: middle;*/
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	/*vertical-align: center;*/
	float: left;
	margin:0;
	padding: 0;
	padding-left: 2mm;
	padding-right: 2mm;
	/*padding-top: 1mm;*/
}

.mini_right {
	float: top;
	margin:0;
}

.mini_info {
	padding-left: 50%;
}

.mini_left_part
{
	float:left;
	/*height: 100%;*/
}

.mini_right_part {
	float: right;
	padding-top: 1mm;
	padding-right: 2mm;
}